<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECCO Lakes</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nanoajax/0.4.3/nanoajax.min.js"></script>
 </head>
 <body>

<!-- Draws on example from https://github.com/charliedotau/mapbox-gl-js-bootstrap-boilerplate -->
            <!-- Container -->
            <div class="container-fluid">
              <!-- Masthead -->
              <div class="masthead">
                <!-- Navigation -->
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <a class="navbar-brand" href="#">Ecco Lakes</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://benlaken.com/">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/benlaken/lake_viz_site">code</a>
                            </li>
                            </ul>
                            <form class="form-inline mt-2 mt-md-0" id='myForm'>
                                <input class="form-control mr-sm-2" id='formBox' type="text" name="lakeSearch" placeholder="🔎 Search by lake ID" aria-label="Search">
                                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by Lake ID</button> -->
                            </form>
                        </div>
                    </nav>
              </div>

              <!-- Main Content-->
              <div class="masthead">
                <div class="row">
                  <div class="col-md-12">
                    <div id="map"></div>
                    <div id="geocoder-container"></div>

                  <!-- START OF BOOTSTRAP GOODNESS -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title" id="dynamic-title">Select a lake to view related info and CORDEX data</h4>
                      </div>
                      <div class="panel-body">
                        <ul class="list-group" id="dynamic-list">
                          <!-- <li class="list-group-item">Cras justo odio</li> -->
                        </ul>
                      </div>
                  </div>

                  <!-- END OF BOOTSTRAP GOODNESS -->

                  </div> <!-- col -->
                </div> <!-- row -->
              </div>


            </div> <!-- /container -->

    <script type=text/javascript>
        mapboxgl.accessToken = '{{ mytoken }}';
    </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/my-mapbox.js') }}"></script>
</body>
</html>